html, body{
    height: 100%;
    margin: 0;
}

body{
    background-color: red;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows:10% 9fr;
}

header{
    background-color: blue;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: aquamarine;
    display: grid; 
    grid-row-start: 2;
    grid-row-end: 7; 
    grid-template-columns: repeat(9, 10%); 
    grid-template-rows: repeat(9, 10%);
}

.navbar{
    background-color: rgb(10, 171, 192);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 12;    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.aside{
    background-color: cadetblue;
    grid-row-start: 2;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 3;
}

.content{
    background-color: rgb(29, 12, 139);
    grid-row-start: 2;
    grid-row-end: 12;
    grid-column-start: 3;
    grid-column-end: 12;
}

footer{
    background-color: blueviolet;
    grid-row-start: 7;
    grid-row-end: 10;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbarTitle{
    margin-right: 30px;
    padding-right: 30px;
}

.paragraphe{
    margin: 20px;
}