html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: red;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows:10% 9fr;
}

header{
    background-color: blue;
    grid-row: 0;
}

.container{
    background-color: aquamarine;
    display: grid; 
    grid-row: 2; 
    grid-template-columns: repeat(9, 10%); 
    grid-template-rows: repeat(9, 10%);
}

.navbar{
    background-color: rgb(116, 74, 20);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 12;

}

.aside{
    background-color: cadetblue;
    grid-row-start: 3;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 3;
}

.content{
    background-color: bisque;
    grid-row-start: 3;
    grid-row-end: 12;
    grid-column-start: 3;
    grid-column-end: 12;
}

footer{
    background-color: blueviolet;
    grid-row: 6;
}
