/*
La bonne pratique
Et oui, il existe une bonne pratique pour ajouter ces polices d’écriture en CSS : insérer une règle @font-face pour chaque cas qu’il est possible de rencontrer. Donc : pour chaque poids (épaisseur) utilisé, et pour chacun d’eux, une nouvelle règle si ce poids est utilisé en italique.
Pour ajouter la police d’écriture basique, nous allons alors ajouter deux règles : la première normale et la seconde pour l’italique.
*/
@font-face {
	font-family: 'Dijkstra';
	font-weight: 400;
	src: url('./assets/fonts/Dijkstra Regular/Dijkstra Regular.ttf') format('truetype')
}
@font-face {
	font-family: 'Dijkstra';
	font-weight: 700;
	src: url('./assets/fonts/Dijkstra Regular/Dijkstra Regular.ttf') format('truetype')
}


html, body{
    height: 100%;
    margin: 0;

}

body{
    background-color: red;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows:10% 9fr;
}

header{
    background-color: blue;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "dijkstra";
}

.container{
    background-color: aquamarine;
    display: grid; 
    grid-row-start: 2;
    grid-row-end: 7; 
    grid-template-columns: repeat(9, 10%); 
    grid-template-rows: repeat(9, 10%);
    font-family: "dijkstra";
}

.navbar{
    background-color: rgb(10, 171, 192);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 12;    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.aside{
    background-color: cadetblue;
    grid-row-start: 2;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 3;
}

.content{
    background-color: rgb(29, 12, 139);
    grid-row-start: 2;
    grid-row-end: 12;
    grid-column-start: 3;
    grid-column-end: 12;
}

footer{
    background-color: blueviolet;
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 12;
    font-family: "dijkstra";
    display: grid;
    grid-template-columns: repeat(9, 10%); 
    grid-template-rows: repeat(9, 10%);

}

.leftFooter{
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightFooter{
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 3;
    grid-column-end: 10;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navbarTitle{
    margin-right: 30px;
    padding-right: 30px;
    font-family: "dijkstra";
}

.paragraphe{
    margin: 20px;
}

/* Media Query pour les écrans de taille moyenne */
@media screen and (max-width: 768px) {
    html, body{
        height: 100%;
        margin: 0;
    }
    
    body {
        grid-template-columns: 1fr;
        grid-template-rows:10% 7fr 10%;
    }

    header{
        background-color: blue;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    .container{
        background-color: aquamarine;
        display: grid; 
        grid-row-start: 2;
        grid-row-end: 7; 
        grid-template-rows:10% 25% 65%;
        grid-template-columns: 1fr;
    }

    .navbar{
        background-color: rgb(10, 171, 192);
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;  
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
    }
    
    .aside{
        background-color: cadetblue;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;  
    }
    
    .content{
        background-color: rgb(29, 12, 139);
        grid-row-start: 3;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 2;  
    }
    
    footer{
        background-color: blueviolet;
        grid-row-start: 7;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 2;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(9, 10%);

    }

    .leftFooter{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rightFooter{
        grid-row-start: 3;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* Media Query pour les écrans de petite taille */
    @media screen and (max-width: 480px) {

    }
}